@keyframes color {
  0%{
    background-color: red;
  }
  100%{
    background-color: blue;
  }
}
#app4 .round{
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border:1px black solid;
  margin-left: 5vw;
  margin-top: 5vw;

}
#app4 .round.active{
  animation: color 2s  infinite linear alternate;
}